<template>
  <div id="app">
    
     <Mainlayout/>
  <div>
   
    </div>
  </div>
</template>

<script>
import Mainlayout from './components/Mainlayout.vue'

export default {
  name: 'App',
  components: {
   Mainlayout
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
