<template>
  <div >sfsfgsdgs
    <div class="mr-4">
      <cui-fav-pages />
    </div>
    <div class="mr-auto">
      <cui-search />
    </div>
    <div class="mr-4 d-none d-md-block">
      <cui-issues-history />
    </div>
  
  
    <div class="mr-4 d-none d-sm-block">
      <cui-actions />
    </div>
    <div>
      <cui-user-menu />
    </div>
  </div>
</template>


<script>
import CuiIssuesHistory from './IssuesHistory'
import CuiSearch from './Search'
import CuiActions from './Actions'
import CuiUserMenu from './UserMenu'
import CuiFavPages from './FavPages'

export default {
  components: {
    CuiIssuesHistory,
    CuiSearch,
    CuiActions,
    CuiUserMenu,
    CuiFavPages,
  },
}
</script>
